---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import WorksList from "../../components/Works-list.astro";
import "../../styles/global.scss";
---

<Layout title="制作実績 | Nachi web design" description="制作実績ページです。これまでに制作したWebサイトやデザインの一部をご紹介しています。">
  <Header />
  <main>
    <div class="container">
      <WorksList />
    </div>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use "../../styles/variables" as *;
</style>

<script>
  import "../../scripts/global.js";
</script>