---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import WorksDetail from "../../../components/Works-detail.astro";
import "../../../styles/global.scss";
import "../../../styles/works.scss";
---

<Layout title="制作実績詳細 | Nachi web design" description="制作実績の詳細ページです。">
  <Header />
  <main>
    <WorksDetail>
      <!-- スライダー -->
      <div slot="slides" class="swiper-wrapper">
        <img src="/my-scrapbook_new/images/works/graphic-4/img1.webp" class="swiper-slide" alt="三つ折りパンフレット">
        <img src="/my-scrapbook_new/images/works/graphic-4/img2.webp" class="swiper-slide" alt="三つ折りパンフレット">
        <img src="/my-scrapbook_new/images/works/graphic-4/img3.webp" class="swiper-slide" alt="三つ折りパンフレット">
      </div>

      <!-- 情報 -->
      <div slot="text">
        <h1 class="works-detail__title">事業紹介パンフレット</h1>
        <div class="works-detail__tags">
          <!-- <p>Webデザイン</p> -->
          <!-- <p>LPデザイン</p> -->
          <!-- <p>コーディング</p> -->
          <!-- <p>バナー</p> -->
          <p>印刷物</p>
          <p>三つ折りパンフレット</p>
        </div>
        <div class="works-detail__description">
          <p>介護事業の新サービス向けパンフレットを作成しました。<br>
            コーポレートカラーの赤をベースに、イラストを活用して他社と差別化。<br>
            柔らかく、安心感のあるイメージに仕上げています。</p>
        </div>
      </div>
    </WorksDetail>
  </main>
  <Footer />
</Layout>