---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import WorksDetail from "../../../components/Works-detail.astro";
import "../../../styles/global.scss";
import "../../../styles/works.scss";
import "../../../scripts/global.js";
---

<Layout title="制作実績詳細 | Nachi web design" description="制作実績の詳細ページです。">
  <Header />
  <main>
    <WorksDetail>
      <!-- スライダー -->
      <div slot="slides" class="swiper-wrapper">
        <img src="/images/works/web-1/img-mockup.webp" class="swiper-slide" alt="">
        <img src="/images/works/web-1/img-pick1.webp" class="swiper-slide" alt="">
      </div>

      <!-- 情報 -->
      <div slot="text">
        <h1 class="works-detail__title">警備派遣会社コーポレートサイト</h1>
        <div class="works-detail__tags">
          <p>Webデザイン</p>
          <!-- <p>LPデザイン</p> -->
          <p>コーディング</p>
          <!-- <p>バナー</p> -->
          <!-- <p>印刷物</p> -->
        </div>
        <div class="works-detail__description">
          <p>ここに説明</p>
        </div>
        <a href="#" target="_blank" class="btn-color-green">VISIT SITE <i
          class="fa-solid fa-link"></i></a>
      </div>
    </WorksDetail>
  </main>
  <Footer />
</Layout>