---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import WorksDetail from "../../../components/Works-detail.astro";
import "../../../styles/global.scss";
import "../../../styles/works.scss";
import "../../../scripts/global.js";
---

<Layout title="制作実績詳細 | Nachi web design" description="制作実績の詳細ページです。">
  <Header />
  <main>

    <WorksDetail>
      <!-- スライダー -->
      <div slot="slides" class="swiper-wrapper">
        <img src="/images/works/web-3/img-mockup.webp" class="swiper-slide" alt="警備派遣事業LP">
        <img src="/images/works/web-3/img-pick1.webp" class="swiper-slide" alt="警備派遣事業LP">
        <img src="/images/works/web-3/img-pick2.webp" class="swiper-slide" alt="警備派遣事業LP">
        <img src="/images/works/web-3/img-pick3.webp" class="swiper-slide" alt="警備派遣事業LP">
        <img src="/images/works/web-3/img-pick4.webp" class="swiper-slide" alt="警備派遣事業LP">
      </div>

      <!-- 情報 -->
      <div slot="text">
        <h1 class="works-detail__title">警備派遣事業LP</h1>
        <div class="works-detail__tags">
          <p>Webデザイン</p>
          <p>コーディング</p>
        </div>
        <div class="works-detail__description">
          <p>既存のコーポレートサイトのデザインにトーンを合わせ、Web広告用のLPを制作しました。<br>
          20代〜30代前半の若い層がターゲット。メインカラーのイエローに合わせてポップなイメージに仕上げつつ、情報のポイントを整理した分かりやすい構成を心がけました。</p>
        </div>
        <a href="https://nachi-design.github.io/demo-site_view/2way" target="_blank" class="btn-color-green">DEMO SITE <i
          class="fa-solid fa-link"></i></a>
      </div>
    </WorksDetail>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use "../../../styles/variables" as *;
</style>