---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import WorksDetail from "../../../components/Works-detail.astro";
import "../../../styles/global.scss";
import "../../../styles/works.scss";
---

<Layout title="制作実績詳細 | Nachi web design" description="制作実績の詳細ページです。">
  <Header />
  <main>

    <WorksDetail>
      <!-- スライダー -->
      <div slot="slides" class="swiper-wrapper">
        <img src="/my-scrapbook/images/works/web-9/img-mockup.jpg" class="swiper-slide" alt="マルシェイベント特設サイト">
        <img src="/my-scrapbook/images/works/web-9/img-pick1.jpg" class="swiper-slide" alt="マルシェイベント特設サイト">
        <img src="/my-scrapbook/images/works/web-9/img-pick2.jpg" class="swiper-slide" alt="マルシェイベント特設サイト">
        <img src="/my-scrapbook/images/works/web-9/img-pick3.jpg" class="swiper-slide" alt="マルシェイベント特設サイト">
      </div>

      <!-- 情報 -->
      <div slot="text">
        <h1 class="works-detail__title">マルシェイベント特設サイト</h1>
        <div class="works-detail__tags">
          <p>Webデザイン</p>
          <p>コーディング</p>
        </div>
        <div class="works-detail__description">
          <p>地域密着型のマルシェイベントの告知・レポートページとして、テーマカラーである紫をメインに使用し、パッと目を引くビジュアルに仕上げました。</p>
          <p>過去開催時の写真を多く掲載することで、初めて訪れる人にもイベントの雰囲気が伝わりやすい構成に。複数の画像スライダーを設置し、イベントの賑わいや空気感を視覚的に伝えています。</p>
          <p>さらに、集客の主軸となっているInstagramへの導線にも工夫を凝らし、グローバルナビゲーションやフローティングボタン、バナーなどで常に目に留まる導線設計を行いました。ユーザーの動線を意識した設計となっています。</p>
        </div>
        <a href="https://kulabo.co.jp/kulacal_market" target="_blank" class="btn-color-green">VISIT SITE <i
          class="fa-solid fa-link"></i></a>
      </div>
    </WorksDetail>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use "../../../styles/variables" as *;
</style>