---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import WorksDetail from "../../../components/Works-detail.astro";
import "../../../styles/global.scss";
import "../../../styles/works.scss";
import "../../../scripts/global.js";
---

<Layout title="制作実績詳細 | Nachi web design" description="制作実績の詳細ページです。">
  <Header />
  <main>

    <WorksDetail>
      <!-- スライダー -->
      <div slot="slides" class="swiper-wrapper">
        <img src="/my-scrapbook_new/images/works/web-2/img-mockup.webp" class="swiper-slide" alt="福祉系サービスLP">
        <img src="/my-scrapbook_new/images/works/web-2/img-pick1.webp" class="swiper-slide" alt="福祉系サービスLP">
        <img src="/my-scrapbook_new/images/works/web-2/img-pick2.webp" class="swiper-slide" alt="福祉系サービスLP">
        <img src="/my-scrapbook_new/images/works/web-2/img-pick3.webp" class="swiper-slide" alt="福祉系サービスLP">
        <img src="/my-scrapbook_new/images/works/web-2/img-pick4.webp" class="swiper-slide" alt="福祉系サービスLP">
      </div>

      <!-- 情報 -->
      <div slot="text">
        <h1 class="works-detail__title">福祉系サービスLP</h1>
        <div class="works-detail__tags">
          <p>Webデザイン</p>
          <p>コーディング</p>
        </div>
        <div class="works-detail__description">
          <p>介護事業の新サービス立ち上げにともない、ロゴ、パンフレット、Webサイトを新規制作しました。<br>
            コーポレートカラーの赤をベースに、イラストを活用して他社と差別化。<br>
            パンフレットのデザインを忠実におとしこみ、ブランドイメージの定着を狙いました。</p>
        </div>
        <a href="https://smile.senior-life.jp/" target="_blank" class="btn-color-green">VISIT SITE <i
          class="fa-solid fa-link"></i></a>
      </div>
    </WorksDetail>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use "../../../styles/variables" as *;
</style>