---
import "../styles/works.scss";
---

<ul class="works-buttons">
    <li class="works-button fadeDownTrigger"><button data-filter="all" class="is-active">ALL</button></li>
    <li class="works-button fadeDownTrigger delay1"><button data-filter="web">Webデザイン</button></li>
    <li class="works-button fadeDownTrigger delay2"><button data-filter="banner">バナー</button></li>
    <li class="works-button fadeDownTrigger delay3"><button data-filter="graphic">印刷物</button></li>
</ul>

<ul class="works-list fadeDownTrigger delay2">
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-7/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-7/img-mockup.webp" alt="官公庁 ダム完成周年記念サイト" />
            </figure>
            <h3 class="works-ttl">官公庁 ダム完成周年記念サイト</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-6/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-6/img-mockup.webp" alt="住宅系企業コーポレートサイト" />
            </figure>
            <h3 class="works-ttl">住宅系企業コーポレートサイト</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-1/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-1/img-mockup.webp" alt="警備派遣会社コーポレートサイト" />
            </figure>
            <h3 class="works-ttl">警備派遣会社コーポレートサイト</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="graphic">
        <a href="/my-scrapbook/works/detail/graphic-5/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/graphic-5/img1.webp" alt="イベントチラシ" />
            </figure>
            <h3 class="works-ttl">イベントチラシ</h3>
        </a>
        <p class="works-tag">印刷物</p>
    </li>
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-3/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-3/img-mockup.webp" alt="警備派遣事業LP" />
            </figure>
            <h3 class="works-ttl">警備派遣事業LP</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-2/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-2/img-mockup.webp" alt="福祉系サービスLP" />
            </figure>
            <h3 class="works-ttl">福祉系サービスLP</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="graphic">
        <a href="/my-scrapbook/works/detail/graphic-4/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/graphic-4/img1.webp" alt="事業紹介パンフレット" />
            </figure>
            <h3 class="works-ttl">事業紹介パンフレット</h3>
        </a>
        <p class="works-tag">印刷物</p>
    </li>
    <li class="works-item is-show" data-category="graphic">
        <a href="/my-scrapbook/works/detail/graphic-3/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/graphic-3/img1.webp" alt="製品パンフレット" />
            </figure>
            <h3 class="works-ttl">製品パンフレット</h3>
        </a>
        <p class="works-tag">印刷物</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-2/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-2/img1.webp" alt="ブライダル キャンペーンバナー" />
            </figure>
            <h3 class="works-ttl">ブライダル キャンペーンバナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="graphic">
        <a href="/my-scrapbook/works/detail/graphic-2/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/graphic-2/img1.webp" alt="会社案内パンフレット" />
            </figure>
            <h3 class="works-ttl">会社案内パンフレット</h3>
        </a>
        <p class="works-tag">印刷物</p>
    </li>
    <li class="works-item is-show" data-category="graphic">
        <a href="/my-scrapbook/works/detail/graphic-1/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/graphic-1/img1.webp" alt="事業紹介パンフレット" />
            </figure>
            <h3 class="works-ttl">事業紹介パンフレット</h3>
        </a>
        <p class="works-tag">印刷物</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-14/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-14/img1.webp" alt="パーソナルジム キャンペーンバナー" />
            </figure>
            <h3 class="works-ttl">パーソナルジム キャンペーンバナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-7/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-7/img1.webp" alt="注文住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">注文住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-6/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-6/img1.webp" alt="リノベーション Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">リノベーション Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-12/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-12/img1.webp" alt="注文住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">注文住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-5/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-5/img1.webp" alt="リノベーション Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">リノベーション Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-5/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-5/img-mockup.webp" alt="注文住宅ブランドLP" />
            </figure>
            <h3 class="works-ttl">注文住宅ブランドLP</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="web">
        <a href="/my-scrapbook/works/detail/web-4/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/web-4/img-mockup.webp" alt="コーポレートサイト" />
            </figure>
            <h3 class="works-ttl">コーポレートサイト</h3>
        </a>
        <p class="works-tag">Webデザイン</p>
        <p class="works-tag">コーディング</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-13/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-13/img4.webp" alt="セミオーダー住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">セミオーダー住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-11/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-11/img1.webp" alt="注文住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">注文住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-10/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-10/img1.webp" alt="注文住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">注文住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-9/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-9/img1.webp" alt="注文住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">注文住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-8/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-8/img1.webp" alt="注文住宅 Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">注文住宅 Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-4/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-4/img1.webp" alt="パーソナルジム キャンペーンバナー" />
            </figure>
            <h3 class="works-ttl">パーソナルジム キャンペーンバナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-3/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-3/img1.webp" alt="パーソナルジム Web広告用バナー" />
            </figure>
            <h3 class="works-ttl">パーソナルジム Web広告用バナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="banner">
        <a href="/my-scrapbook/works/detail/banner-1/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/banner-1/img1.webp" alt="ネイルスクール キャンペーンバナー" />
            </figure>
            <h3 class="works-ttl">ネイルスクール キャンペーンバナー</h3>
        </a>
        <p class="works-tag">バナー</p>
    </li>
    <li class="works-item is-show" data-category="graphic">
        <a href="/my-scrapbook/works/detail/graphic-6/" class="hover-img">
            <figure class="works-img hover-img__img">
                <img src="/my-scrapbook/images/works/graphic-6/img1.webp" alt="セミナーチラシ" />
            </figure>
            <h3 class="works-ttl">セミナーチラシ</h3>
        </a>
        <p class="works-tag">印刷物</p>
    </li>
</ul>

<style lang="scss">
    @use "../styles/variables" as *;

    .works-buttons {
        @include flex(wrap, center, center);
        gap: 1rem;
        margin-bottom: 5rem;
    }

    .works-button {
        button {
            background: #f0f0f0;
            color: $black;
            border: none;
            border-radius: 50px;
            padding: 3px 7px;
            padding: 0.8rem 1.4rem;
            font-family: inherit;

            &.is-active {
                background: $yellow-green;
                border-color: $yellow-green;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .works-list {
        @include grid(repeat(4, 1fr), 3.5625em 2.46154%);

        @include mq-max(sm) {
            grid-template-columns: 1fr;
        }
    }

    .works-item {
        display: none;

        &.is-show {
            display: block;
        }
    }

    .works-img {
        @include box-shadow;

        // img {
        //     transform: scale(1.3);
        // }
    }

    .works-ttl {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 0.8rem;
    }

    .works-tag {
        color: #999;
        font-size: 1.2rem;
        display: inline-block;
        letter-spacing: 0;

        &::after {
            content: ",";
        }

        &:last-child {
            &::after {
                content: "";
            }
        }
    }
</style>

<script is:inline>
    const filterButtons = document.querySelectorAll("[data-filter]");
    const categoryContents = document.querySelectorAll("[data-category]");

    filterButtons.forEach((filterButton) => {
        filterButton.addEventListener("click", buttonSwitch);
        filterButton.addEventListener("click", categoryFilter);
    });

    function buttonSwitch() {
        filterButtons.forEach((filterButton) => {
            filterButton.classList.remove("is-active");
            this.classList.add("is-active");
        });
    }

    function categoryFilter() {
        const buttonCategory = this.dataset.filter;
        const targetContents = document.querySelectorAll(
            '[data-category="' + buttonCategory + '"]',
        );

        categoryContents.forEach((categoryContent) => {
            categoryContent.animate(
                [
                    {
                        opacity: 0,
                    },
                    {
                        opacity: 1,
                    },
                ],
                {
                    duration: 600,
                    fill: "forwards",
                },
            );

            if (buttonCategory == "all") {
                categoryContent.classList.add("is-show");
            } else {
                categoryContent.classList.remove("is-show");
                targetContents.forEach((targetContent) => {
                    targetContent.classList.add("is-show");
                });
            }
        });
    }
</script>
